/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

.home .hero img
  max-width 125px!important

.home .hero #main-title
  font-size 30px!important
 

 .home .hero .description 
 font-size 1rem!important


.home .hero .action-button
     font-size 0.8rem!important

.home .hero .action
     margin 1rem auto!important
  

 

  
